# Build artifacts
bin/
build/
*.o
*.a
neuroix_test
sanity_test

# Models (Too big for git)
models/*.gguf

# Llama.cpp build artifacts (kita tidak mau upload hasil compile library)
lib/llama.cpp/build/